[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
nltk = "*"
pandas = "*"
keras = "*"
testresources = "*"
tensorflow = "*"
scikit-learn = "*"
preprocessor = "*"
textblob = "*"
transformers = "*"
sentencepiece = "*"
loguru = "*"

[dev-packages]

[requires]
python_version = "3.9"
